<div class="collapsible collapsible--expanded" >
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon icon--primary collapsible__chevron"> <!-- icon--white -->
                <!-- <use xlink:href="/images/sprite.svg#chevorn"></use>  chevron not working -->
                <use xlink:href="/images/sprite.svg#wordpress"></use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officia praesentium dolore quasi, ducimus minus ab soluta eligendi, rerum tempore, quaerat facere sunt dolorem at nobis eos ea cupiditate vero.
    </div>
</div>
<div class="collapsible collapsible--expanded" >
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon icon--primary collapsible__chevron"> <!-- icon--white -->
                <!-- <use xlink:href="/images/sprite.svg#chevorn"></use>  chevron not working -->
                <use xlink:href="/images/sprite.svg#wordpress"></use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officia praesentium dolore quasi, ducimus minus ab soluta eligendi, rerum tempore, quaerat facere sunt dolorem at nobis eos ea cupiditate vero.
    </div>
</div>
