<footer class="block block--dark footer">
    <div class="container grid footer__section">
        <section class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Products</h2>
                    <svg class="icon icon--white collapsible__toggler"> <!-- icon--white -->
                        <!-- <use xlink:href="/images/sprite.svg#chevorn"></use>  chevron not working -->
                        <use xlink:href="/images/sprite.svg#wordpress"></use>
                      </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#" class="" id="">Website Hosting</a></li>
                    <li><a href="#" class="" id="">Free Automated Wordpress</a></li>
                    <li><a href="#" class="" id="">Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Company</h2>
                    <svg class="icon icon--white collapsible__toggler"> <!-- icon--white -->
                        <!-- <use xlink:href="/images/sprite.svg#chevorn"></use>  chevron not working -->
                        <use xlink:href="/images/sprite.svg#wordpress"></use>
                      </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#" class="" id="">About</a></li>
                    <li><a href="#" class="" id="">Affiliates</a></li>
                    <li><a href="#" class="" id="">Blog</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Support</h2>
                    <svg class="icon icon--white collapsible__toggler"> <!-- icon--white -->
                        <!-- <use xlink:href="/images/sprite.svg#chevorn"></use>  chevron not working -->
                        <use xlink:href="/images/sprite.svg#wordpress"></use>
                      </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#" class="" id="">Contact</a></li>
                    <li><a href="#" class="" id="">Knowledge Base</a></li>
                    <li><a href="#" class="" id="">FAQ</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Domains</h2>
                    <svg class="icon icon--white collapsible__toggler"> <!-- icon--white -->
                        <!-- <use xlink:href="/images/sprite.svg#chevorn"></use>  chevron not working -->
                        <use xlink:href="/images/sprite.svg#wordpress"></use>
                      </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#" class="" id="">Domain Checker</a></li>
                    <li><a href="#" class="" id="">Domain Transfer</a></li>
                    <li><a href="#" class="" id="">Free Domain</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="/images/logo.svg" alt="">
            <p class="footer__copyright">Copyright © 2023 Zuy Naboya</p>
        </section>
    </div>
</footer>